
.search{
	width: 90%;
	margin: 20px auto 10px auto;

	display: block;
	color: #fff;
}
.search input{
	cursor: pointer;

}







@media screen and (max-width:768px) {


	
}
@media screen and (max-width: 420px) {

}